.container {
  display: flex;
  max-width: 1600px;
  gap: 1em;

  form {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1em;
    box-sizing: border-box;

    input {
      height: 2em;
      padding: 0 0.6em;
    }

    span {color: gray}
  }
}

.form-button {
  border: none;
  padding: 0.4em 0.8em;
  color: gray;
}

.reset-button {
  border: none;
  padding: 0.4em 0.8em;
  background-color: #A0A0A0;
  color: white;
  width: 8%;
  height: 100%;
  align-self: flex-end;
}

.buttons-container {
  position: relative;
  display: flex;
  gap: 1em;

}
.input-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  width: 100%;
}